.contorno{
	border: 2px solid grey;
	border-radius: 3%;
}
.mg25{
	margin-top: 25px;
}
.mg35{
	margin-top: 35px;
}
.icono{
	width: 100px;
	margin-top: 320px;
	margin-left: 55px;
}
.banner{
	width: 1360px;
}
#white{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 50px;
}
.all{
	border: 2px solid #17A921;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	color: #17A921;
	margin-top: 10px;
	border-radius: 10%;
	margin-right: 10px;
}
.mg22{
	margin-top: 17px;
}
.blanco{
	font-family: 'Roboto', sans-serif;
	color: white;
}
.watch{
	width: 200px;
	height: 50px;
	background-color: #F3D31A;
	border-radius: 3%;
}
.book{
	width: 200px;
	height: 50px;
	background-color: #DC9D1E;
	border-radius: 3%;
}
.i{
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}
.gris{
	font-size: 30px;
}
.p{
	margin-top: 10px;
	margin-left: 50px;
}
p{
	font-family: 'Roboto', sans-serif;	
}
.ti{
	background-color: #F3D31A;
	padding: 50px;
}
.cartel{
	width: 200px;
	height: 240px;
}
iframe{
	width: 1365px;
	height: 315px;
	border: 0px;
}
.grande{
	font-size: 40px;
}
h3{
	font-family: 'Roboto', sans-serif;
}
.cartel2{
	width: 280px;
	height: 300px;
}
.fyh{
	background-color: #FAFAFA;
}
.ex1 img {
margin: 15px;
-webkit-transition: margin 0.5s ease-out;
-moz-transition: margin 0.5s ease-out;
-ms-transition: margin 0.5s ease-out;
transition: margin 0.5s ease-out;
}
.ex1 img:hover {
margin-top: 2px;
}
.ex2 img{
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
margin-left: -30px;
}